{% load static %}
{% block footer %}
    <div class="mt-3">
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © SK오앤에스(주)
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & DevOps by <a href="#!" class="text-decoration-underline">DevOps TF</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}