{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between pb-0">
                            <h4 class="mb-sm-0 font-size-18">프로젝트 현황</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">DevOps 커뮤니티</a></li>
                                    <li class="breadcrumb-item active">프로젝트 현황</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h4 class="card-title">과제 리스트</h4>
                                <p class="card-title-desc">
                                    Data 기반 업무 수행을 위한 DT 과제 현황, 데이터 활용 가이드/Tip 및 분석 지원을 제공합니다.
                                </p>
                            </div>

                            <div class="card-body">
                                <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                                    <thead>
                                    <tr>
                                        <th>구분</th>
                                        <th>과제명</th>
                                        <th>기간</th>
                                        <th>진행단계</th>
                                        <th>담당</th>
                                        <th>담당자</th>
                                        <th>등록일</th>
                                        <th>최근 수정일</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% if page.object_list %}
                                        {% for project in page.object_list %}
                                            <tr>
                                                {#                                                <td>{{ forloop.counter0|add:page.start_index }}</td>#}
                                                <td style="width: 10%">{{ project.type }}</td>
                                                <td style="width: 30%"><a
                                                        href="{% url 'dtCommunity:dtProject-detail' project.id %}"
                                                        class="text-decoration-none"> {{ project.title }} </a></td>
                                                <td style="width: 10%">{{ project.dt_start|date:"Y/n/j" }}
                                                    ~ {{ project.dt_end|date:"Y/n/j" }}</td>
                                                <td style="width: 10%">{{ project.status }}</td>
                                                <td style="width: 10%">{{ project.author }}</td>
                                                <td style="width: 10%">{{ project.author.nickname }}</td>
                                                <td style="width: 10%">{{ project.dt_created|date:"Y/n/j" }}</td>
                                                <td style="width: 10%">{{ project.dt_updated|date:"Y/n/j" }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr class="text-center">
                                            <td colspan="9">
                                                작성된 게시글이 없습니다.
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>

                                {# 페이지네이션 시작 #}
{#                                <div class="mt-3">#}
{#                                    <ul class="pagination justify-content-center mb-0">#}
{#                                        <!-- 이전 페이지 -->#}
{#                                        {% if page.has_previous %} <!-- 만약 현재 페이지의 이전 페이지가 있다면 -->#}
{#                                            <li class="page-item">#}
{#                                                <a href="?page=1" class="page-link"> << </a>#}
{#                                            </li>#}
{#                                            <li class="page-item">#}
{#                                                <a href="?page={{ page.previous_page_number }}" class="page-link">#}
{#                                                    이전 </a>#}
{#                                            </li>#}
{#                                        {% else %} <!-- 만약 현재 페이지의 이전 페이지가 없다면 -->#}
{#                                            <li class="page-item disabled">#}
{#                                                <a href="#" class="page-link"> << </a> <!-- "맨앞" 클릭 비활성화 -->#}
{#                                            </li>#}
{#                                            <li class="page-item disabled">#}
{#                                                <a href="#" class="page-link"> 이전 </a> <!-- "이전" 클릭 비활성화 -->#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                        <!-- 페이지 리스트 -->#}
{#                                        {% for page_number in page.paginator.page_range %}#}
{#                                            {% if page_number >= page.number|add:-2 and page_number <= page.number|add:2 %}#}
{#                                                {% if page_number == page.number %}#}
{#                                                    <li class="page-item active" aria-current="page">#}
{#                                                        <a href="?page={{ page_number }}"#}
{#                                                           class="page-link">{{ page_number }}</a>#}
{#                                                    </li>#}
{#                                                {% else %}#}
{#                                                    <li class="page-item">#}
{#                                                        <a href="?page={{ page_number }}"#}
{#                                                           class="page-link">{{ page_number }}</a>#}
{#                                                    </li>#}
{#                                                {% endif %}#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                        <!-- 다음 페이지 -->#}
{#                                        {% if page.has_next %} <!-- 만약 현재 페이지의 다음 페이지가 있다면 -->#}
{#                                            <li class="page-item">#}
{#                                                <a href="?page={{ page.next_page_number }}" class="page-link"> 다음 </a>#}
{#                                            </li>#}
{#                                            <li class="page-item">#}
{#                                                <a href="?page={{ page.paginator.num_pages }}" class="page-link">#}
{#                                                    >> </a>#}
{#                                            </li>#}
{#                                        {% else %} <!-- 만약 현재 페이지의 다음 페이지가 없다면 -->#}
{#                                            <li class="page-item disabled">#}
{#                                                <a href="#" class="page-link"> 다음 </a> <!-- "다음" 클릭 비활성화 -->#}
{#                                            </li>#}
{#                                            <li class="page-item disabled">#}
{#                                                <a href="#" class="page-link"> >> </a> <!-- "다음" 클릭 비활성화 -->#}
{#                                            </li>#}
{#                                        {% endif %}#}
{#                                    </ul>#}
{#                                </div>#}
                                {# 페이지네이션 종료 #}
                            </div>
                        </div>
                        <div class="row justify-content-md-center">
                            <a href="{% url 'dtCommunity:dtProject-create' %}"
                               class="mdi mdi-pencil btn btn-primary col-md-2"> 과제 등록하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Datatable init js -->
    <script src="{% static 'js/pages/datatables.init.js' %}"></script>
{% endblock %}

