{% extends 'partials/base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between pb-0">
                            <h4 class="mb-sm-0 font-size-18">가이드 및 프로세스</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">DevOps 앱</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">전사</a></li>
                                    <li class="breadcrumb-item active">가이드 및 프로세스</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h4 class="card-title">전사 Guide & Process 리스트</h4>
                                <p class="card-title-desc">
                                    가이드 및 프로세스에 대한 내역을 제공합니다.
                                </p>
                            </div>

                            <div style="overflow-x: auto;">
                                <div class="card-body">
                                    <table id="example"
                                           class="table table-bordered dt-responsive nowrap w-100 text-center">
                                        <thead>
                                        <tr>
                                            <th>지원담당</th>
                                            <th>주관부서</th>
                                            <th>구분</th>
                                            <th>분류</th>
                                            <th>세부분류</th>
                                            <th>제목</th>
                                            <th>내용</th>
                                            <th>정립기준</th>
                                            <th>관련문서</th>
                                            <th>담당자</th>
                                            <th>등록일</th>
                                            <th>비고</th>
                                        </tr>
                                        </thead>

                                        <tbody class="align-middle">
                                        {% if page.object_list %}
                                            {% for process in page.object_list %}
                                                <tr>
                                                    <td style="width: 5%">{{ process.type2 }}</td>
                                                    <td style="width: 10%">{{ process.team }}</td>
                                                    <td style="width: 5%">{{ process.type1 }}</td>
                                                    <td style="width: 5%">{{ process.type3 }}</td>
                                                    <td style="width: 5%">{{ process.type4 }}</td>
                                                    <td class="text-start">{{ process.title }}</td>
                                                    <td class="text-start"
                                                    >
                                                        <div style="max-width: 300px; max-height: 200px; overflow: auto">{{ process.content2|linebreaksbr }}</div>
                                                    </td>
                                                    <td class="text-start">{{ process.content|linebreaksbr }}</td>
                                                    {#                                                <td style="width: 5%">{{ process.dt_start|date:"Y/n/j" }}~{{ process.dt_end|date:"Y/n/j" }}</td>#}
                                                    <td style="width: 5%">
                                                        {% if process.file_upload %}
                                                            <div style="font-size: 30px">
                                                                <a class=""
                                                                   href="{{ process.file_upload.url }}"
                                                                   download>
                                                                    <i class="bx bx-download"></i>
                                                                </a>
                                                            </div>
                                                        {% else %}
                                                            <div class="">-</div>
                                                        {% endif %}</td>
                                                    <td style="width: 5%">{{ process.author }}</td>
                                                    <td style="width: 5%;">{{ process.dt_created|date:"Y/n/j" }}</td>
                                                    <td>
                                                        {% if process.author == user or user.username == "admin" or user.first_name == "최종언" or user.first_name == "인병렬" %}
                                                            <a href="{% url 'dtapp:processGuide-update' process.id %}"
                                                               class="mdi mdi-pencil btn btn-primary"><span
                                                                    data-key="t-edit"></span></a>
                                                            <a href="{% url 'dtapp:processGuide-delete' process.id %}"
                                                               class="mdi mdi-delete btn btn-danger"><span
                                                                    data-key="t-trash"></span></a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}               <!-- 게시글 쿼리셋이 존재하지 않을 때 -->
                                            <tr class="text-center">
                                                <td colspan="12">
                                                    작성된 게시글이 없습니다.
                                                </td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-6">
                                {#                                <a href="#" class="mdi mdi-pencil btn btn-primary">#}
                                {#                                    작성하기</a>#}
                                <a href="{% url 'dtapp:processGuide-index' %}" class="btn btn-primary">뒤로가기</a>
                            </div>
                            {#                            <div class="col-6 d-inline-flex flex-row-reverse">#}
                            {#                                <a href="{% url 'dtapp:srReview-chart' %}" class="mdi mdi-chart-bar btn btn-primary">#}
                            {#                                    조직별#}
                            {#                                    사례 현황</a>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block extra_js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                order: [], {# 고정된 정렬을 모두 해제 #}
                {#orderFixed: [[0, ''], [3, '']], {# 고정할 정렬을 선택 #}
                language: {
                    {#url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Korean.json'#}
                }
            });
        });
    </script>
{% endblock %}


